<h2><%= book.title %></h2>
<img width="100" height="150" src="<%= book.coverImagePath %>">
<div>author: <%= book.author.name %></div>
<div>publish date: <%= book.publishDate.toDateString() %></div>
<div>page count: <%= book.pageCount %></div>
<div>description: <%= book.description %></div>

<a href="/books/<%= book.id %>/edit">edit</a>
<%- include('../partials/deleteForm', {url : `/books/${book.id}`}) %>
<a href="/authors/<%= book.author.id %>/edit">view author</a>